.redIcn {
    fill: red;
}

.greenIcn {
    fill: green;
}

.bottom-border {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3a3a3a;
    width: 70px;
    padding-bottom: 5px;
}

.cardTitle p {
    font-size: 16px;
    color: #a7a5a5;
}

.cardTitle h1 {
    font-size: 30px;
}

.cardBody p {
    font-size: 16px;
    color: #3a3a3a;
}

.cardBody h2 {
    font-size: 20px;
    color: #383838;
}

.cardLogo h1 {
    font-size: 48px;
}

.cardLogo {
    width: 200px;
    height: auto;
}

.action-needed{
    cursor: pointer;
    vertical-align: middle;
    border-radius: 4px; 
    border: solid; 
    border-width: .667px; 
    border-color: rgba(0, 0, 0, 0.2); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 0px; 
    padding: 8px; 
    border-color:red;
}

.action-completed{
    vertical-align: middle;
    border-radius: 4px; 
    border: solid; 
    border-width: .667px; 
    border-color: rgba(0, 0, 0, 0.2); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 0px; 
    padding: 8px; 
}

.my_cool_flex_container {
    display: flex;
}

.spinnerHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.custom-link{
    cursor: pointer;
}